<p>
  <b>Name:</b>
  <%=h @categories.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @categories.description %>
</p>


<%= link_to 'Edit', edit_categories_path(@categories) %> |
<%= link_to 'Back', categories_path %>